@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    font-size: 14px;
    color: #555;
}

select {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.save-button {
    background-color: #0c142b;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    font-size: 14px;
}

.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 80vh; /* Alterado para viewport height */
    display: flex;
    flex-direction: column;
}

.chart-container {
    flex: 1; /* Faz o chart-container crescer e ocupar todo o espaço disponível */
    margin-top: 20px;
    min-height: 400px; /* Altura mínima para o container */
    width: 100%;
    position: relative;
}

.select-inputs{
    display: flex;
    gap: 20px;
}

.label-division{
    display: flex;
    gap: 10px;
}

.label-division label{
    transform: translateY(18%);;
}

.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    margin-left: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    display: block;
}

.topmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topmenu #menu-icon{
    display: block;  
    height: 23px;
}

#logomenu {
    width: 40px;
    height: 40px;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease; 
    align-self: center;
    padding: 15px;
}

.logomenu img{
    width: 50px;
    height: 50px;
}

#sidebar.active #logomenu {
    opacity: 1; 
    visibility: visible;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px; 
    height: 100vh;
    background-color: #0c142b;
    transition: width 0.3s ease; 
    z-index: 2; 
}

#sidebar.active {
    width: 15vw; 
}

#menu-icon{
    color: #F1F5F9;
    padding: 23px;
    cursor: pointer;
    display: block; 
}

#user-name-header{
    color: #030e20;
}

#user-icon{
    color: #030e20;
    padding: 0px;
    border-radius: 50%; 
    cursor: pointer;
    display: block; 
    font-size: 32px;
}


#notifications-icon{
    color: #030e20;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 26px;
}

#notifications-icon:hover, #user-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.notifications-popup {
    position: absolute;
    top: 60px; 
    right: 260px; 
    width: 250px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    display: none; 
    z-index: 10;
}

.notifications-popup ul {
    list-style: none;
    padding: 0;
}

.notifications-popup li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.notifications-popup li:last-child {
    border-bottom: none;
}

.user-icon-popup {
    position: absolute;
    top: 60px; 
    right: 10px; 
    width: 220px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    display: none; 
    z-index: 10;
}

.user-icon-popup ul {
    list-style: none;
    padding: 0;
}

.user-icon-popup li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.user-icon-popup li:last-child {
    border-bottom: none;
}

#menu-icon:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

#menu {
    position: fixed;
    top: 50px; 
    left: 0;
    width: 15vw;
    height: 100vh; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease; 
}

#sidebar.active #menu {
    opacity: 1;
    visibility: visible;
}

#menu-tittle{
    color: #94A3B8;
    font-weight: 200;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    padding: 21px;
    opacity: 0;
    visibility: hidden;
}

#sidebar.active #menu-tittle {
    opacity: 1;
    visibility: visible;
}

.navbar {
    margin: 0px 20px 40px 0px;
}

.navbar ul {
    list-style: none;
}

.navbar li{
    margin-bottom: 5px;
}

.navbar a{  
    padding: 20px 0px 20px 20px; 
    display: flex; 
    width: 100%; 
    color: #F1F5F9;
    text-decoration: none;
}

.navbar p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
}

#sidebar.active .navbar p{
    opacity: 1;
    visibility: visible;
}


.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

.navbar span{
    margin-right: 20px;
    transform: translateY(-16%);
    font-size: 30px;
}

#menu-icon-mobile{
    display: none;
    color: #F1F5F9;
    padding: 23px;
    cursor: pointer;
}

.menuheader {
    display: flex;
    margin-right: 50px;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.menuheader li {
    margin: 10px;
}

.header a{
    padding: 20px 25px 20px 25px;
}

@media (max-width: 1334px) {
    #menu {
        position: fixed;
        top: 50px; 
        left: 0;
        width: 200px;
        height: 100vh; 
        opacity: 0; 
        visibility: hidden; 
        transition: opacity 0.3s ease; 
    }

    #sidebar.active {
        width: 200px; 
    }

    .graph {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 300px;
        gap: 20px;
    }

    .menuheader{
        margin-right: 20px;
    }

}



@media (max-width: 768px){
    .logo{
        display: none;
    }

    .header{
        width: 100vw;
        margin-left: 0px;
        background-color: #0c142b;
        position: fixed;
        height: 60px;
        top: 0px
    }
    
    #sidebar {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100%;
        background-color: #0c142b;
        position: fixed;
        top: 60px;
        left: -200px; 
        transition: left 0.3s ease; 
        z-index: 1000;
    }

    #menu-tittle{
        font-size: 14px;
    }
    .navbar a{
        font-size: 14px;
    }

    #sidebar.active {
        left: 0; 
    }

    .menuheader{
        margin-right: 40px;
    }
    
    #menu-icon-mobile{
        display: block;
    }

    .topmenu{
        display: none;
    }

    #user-icon, #notifications-icon{
        color: #F1F5F9;
        font-weight: 100;
        font-size: 20px;
        
    }
    
    #user-name-header{
        color: #F1F5F9;
        font-size: 14px;
    }

    .notifications-popup {
        position: absolute;
        top: 60px; 
        right: 160px; 
        width: 120px;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 15px;
        display: none; 
        z-index: 10;
    }

    .user-icon-popup {
        position: absolute;
        top: 60px; 
        right: 10px; 
        width: 120px;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 15px;
        display: none; 
        z-index: 10;
    }

    .navbar span{
        font-size: 20px;
    }

    .container{
        margin-top: 80px;
    }
    .inputs {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .select-inputs{
        display: flex;
    }
    .save-button {
        margin-left: 0;
        margin-top: 10px;
        height: 30px;
    }
    .label-division{
        display: flex;
        flex-direction: column;
    }
}

.material-symbols-outlined {
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
}

